[core]
ignorecase = false

[init]
defaultBranch = main

[pull]
rebase = true

[commit]
gpgsign = true

[tag]
gpgsign = true

[user]
name = totto2727
email = kaihatu.totto2727@gmail.com
signingkey = BA662CD23E2B4AD8

[includeIf "gitdir:/Users/hayato.tsuchida/work/"]
path = ~/.gitconfig-work
